<!DOCTYPE html>
{% extends 'index.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="card-block table-border-style">
                                                <div class="table-responsive">
                                                    <table class="table">
                                                        <thead style="background-color:rgb(220,220,220);">
                                                            <tr>

                                                                <th><h5><b>User name</b></h5></th>
                                                                <th><h5><b>Feedback</b></h5></th>

                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                         {% for i in data %}

                                                            <tr class="table-info">


                                                                <td>{{i.user}}</td>
                                                                <td>{{i.feedback}}</td>
                                                            </tr>
                                                         {% endfor %}
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
</body>
</html>
{% endblock %}