
<!doctype html>
{% load static %}
<html class="no-js" lang="zxx">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Wedding | Template </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="site.webmanifest">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'user/assets/img/favicon.ico' %}">

    <!-- CSS here -->
    <link rel="stylesheet" href="{% static 'user/assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'user/assets/css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'user/assets/css/flaticon.css' %}">
    <link rel="stylesheet" href="{% static 'user/assets/css/slicknav.css' %}">
    <link rel="stylesheet" href="{% static 'user/assets/css/animate.min.css' %}">
    <link rel="stylesheet" href="{% static 'user/assets/css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'user/assets/css/fontawesome-all.min.css' %}">
    <link rel="stylesheet" href="{% static 'user/assets/css/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'user/assets/css/slick.css' %}">
    <link rel="stylesheet" href="{% static 'user/assets/css/nice-select.css' %}">
    <link rel="stylesheet" href="{% static 'user/assets/css/style.css' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<body>
<!-- Preloader Start -->
<div id="preloader-active">
    <div class="preloader  align-items-center justify-content-center">
        <div class="preloader-inner position-relative">
            <div class="preloader-circle"></div>
            <div class="preloader-img pere-text">
                <img src="{% static 'user/assets/img/logo/logo.png' %}" alt="">
            </div>
        </div>
    </div>
</div>
<!-- Preloader Start -->
<header>
    <!-- Header Start -->
        <div class="header-area">
            <div class="main-header " style="height:80px;font-size:10px;">
                <div class="container">
                    <div class="row align-items-center">
                        <!-- Logo -->
                        <div class="col-xl-2 col-lg-2">
                            <div class="logo">
                                <a href="index.html"><img src="{% static 'user/assets/img/logo/choice1.jpg' %}"  height="50px" width="50px;" style="margin-left:-60px;" alt=""></a>
                            </div>
                        </div>
                        <div class="" style="margin-left:100px;">
                            <!-- Main-menu -->
                            <div class="main-menu f-right d-none d-lg-block" style="margin-left:-390px;">
                                <nav>
                                    <ul id="navigation" style="margin-left:100px;">
                                        <li><a href="{% url 'home_fn' %}"> home</a></li>
                                        <li><a href="#">About</a></li>
                                        <li><a href="{% url 'contact_fn' %}">Contact</a></li>

                                        <li>

                                            {% if request.session.username %}
                                            <a href="">{{request.session.username}}</a>
                                            <ul class="submenu">
                                                <li><a href="{% url 'displayuser_details' %}">Edit profile</a></li>
                                                <li><a href="{% url 'text_successstory_fn' %}">Upload success story</a></li>
                                                <li><a href="{% url 'viewstory_fn' %}">Your success story</a></li>
<!--                                                <li><a href="{% url 'viewallstories2' %}">Your success story</a></li>-->



                                            </ul>
<!--                                            <ul class="submenu">-->
<!--                                                <li><a href="{% url 'displayuser_details' %}">Edit profile</a></li>-->



<!--                                            </ul>-->
                                        </li>
                                         <li>

                                            <a href="{% url 'userlogout' %}">Logout</a>
                                        </li>
                                        <li><a href="">Gallery</a>
                                            <ul class="submenu">
                                                <li><a href="{% url 'gallery_fn' %}">Female</a></li>

                                                <li><a href="{% url 'malegallery_fn'  %}">Male</a></li>

                                                <li><a href="{% url 'viewallstories'  %}">success stories</a></li>

                                            </ul>
                                        </li>
<!--                                        <li>-->

<!--                                            <a href="{% url 'gallery_fn' %}">Gallery</a>-->
<!--                                        </li>-->
                                        {% else %}
                                        <li>

                                            <a href="{% url 'registration_fn' %}">Register</a>
                                        </li>
                                        <li>

                                            <a href="{% url 'login2_fn' %}">Sigin</a>
                                             <li><a href="{% url 'login_fn' %}">Admin login</a>
                                             </li>
                                        </li>
                                        {% endif %}




<!--                                        <li><a href="{% url 'login_fn' %}">Admin login</a>-->
<!--                                            <ul class="submenu">-->
<!--                                                <li><a href="blog.html">Blog</a></li>-->
<!--                                                <li><a href="single-blog.html">Blog Details</a></li>-->
<!--                                                <li><a href="elements.html">Element</a></li>-->
<!--                                            </ul>-->
                                        </li>

                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <!-- Mobile Menu -->
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>
            </div>
    </div>

    <!-- Header End -->
</header>
<main>
    <!--? slider Area Start-->
    <div class="">
            <!-- Mobile Menu -->
            <div class="single-slider slider-height2  hero-overly d-flex align-items-center" data-background="{% static 'gallery/assets/img/hero/about_hero.jpg' %}" style="width:1305px;height:350px;">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-10">
                            <div class="hero-cap text-center">
                                <h1 style="color:white;">About Us</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
<!--    <div style="margin-top:100px;margin-left:100px;">-->
<!--        <div class="row">-->
<!--                    <div class="col-12">-->
<!--                        <h2 class="contact-title">Get in Touch</h2>-->
<!--                    </div>-->
<!--                    <div class="col-lg-8">-->
<!--                        <form class="" action="{% url 'contactsave' %}" method="post" >-->
<!--                            {% csrf_token %}-->
<!--                            <div class="row">-->
<!--                                <div class="col-12">-->
<!--                                    <div class="form-group">-->
<!--                                        <textarea class="form-control w-100" name="message" id="message" cols="30" rows="9" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Message'" placeholder=" Enter Message"></textarea>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <div class="col-sm-6">-->
<!--                                    <div class="form-group">-->
<!--                                        <input class="form-control valid" name="name" id="name" type="text" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter your name'" placeholder="Enter your name">-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <div class="col-sm-6">-->
<!--                                    <div class="form-group">-->
<!--                                        <input class="form-control valid" name="email" id="email" type="email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter email address'" placeholder="Email">-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <div class="col-12">-->
<!--                                    <div class="form-group">-->
<!--                                        <input class="form-control" name="subject" id="subject" type="text" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Subject'" placeholder="Enter Subject">-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="">-->
<!--&lt;!&ndash;                                <button type="submit" class="btn btn-warning" style="margin-left:100px;" >update</button>&ndash;&gt;-->
<!--                                <button type="submit" class="button button-contactForm boxed-btn">Send</button><br><br>-->
<!--                            </div>-->
<!--                        </form>-->
<!--                    </div>-->
<!--                    <div class="col-lg-3 offset-lg-1">-->
<!--                        <div class="media contact-info">-->
<!--                            <span class="contact-info__icon"><i class="ti-home"></i></span>-->
<!--                            <div class="media-body">-->
<!--                                <h3>Choice matrimony, Edappally.</h3>-->
<!--                                <p>Rosemead, CA 91770</p>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="media contact-info">-->
<!--                            <span class="contact-info__icon"><i class="ti-tablet"></i></span>-->
<!--                            <div class="media-body">-->
<!--                                <h3>9876564536</h3>-->
<!--                                <p>Mon to Fri 9am to 6pm</p>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="media contact-info">-->
<!--                            <span class="contact-info__icon"><i class="ti-email"></i></span>-->
<!--                            <div class="media-body">-->
<!--                                <h3>choice@gmail.com</h3>-->
<!--                                <p>Send us your query anytime!</p>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--    </div>-->
    <div style="width:600px;height:500px;background-color:rgb(245,245,245);margin-top:50px;margin-left:30px;text-align:center;">
        <h2 style="padding-top:40px;color:rgb(0,100,0)">About Choice Matrimony</h2><br><br>

        <p style="font-size:17px;text-align: justify;
text-justify: inter-word;margin-left:10px;margin-right:10px;">
            Choice Matrimony is a trusted matchmaking service created for parents who are looking
            for a life partner for their loved ones.Unlike other matrimonial services,we focus on providing
            trustworthly detailed family and background informatio to help you take the next step with confidence.with over
            80+ community sites,you can find a match from your own community.
            Choice Matrimony is a trusted matchmaking service created for parents who are looking
            for a life partner for their loved ones.Unlike other matrimonial services,we focus on providing
            trustworthly detailed family and background informatio to help you take the next step with confidence.with over
            80+ community sites,you can find a match from your own community.
        </p>

    </div>
    <div style="width:600px;height:500px;background-color:rgb(245,245,245);margin-left:670px;margin-top:-500px;">

    <img src="{% static 'user/assets/img/logo/m1.jpg' %}" alt="Avatar" style="" height="500px;" width="600px;">

    </div>
  <div style="border-radius:80px;margin-top:100px;width:1000px;height:700px;">
      <div style="margin-top:-40px;">
<img src="{% static 'user/assets/img/logo/gong3.jpg' %}" alt="Avatar" style="height:250px;width:250px;border-radius:150px;margin-left:80px;">
          <div style="margin-left:180px;margin-top:10px;">
              <h3>Smith</h3>
              <P style="width:300px;height:200px;margin-left:-80px;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur ab quas facilis obcaecati non ea, est odit repellat distinctio incidunt, quia aliquam eveniet quod deleniti impedit sapiente atque tenetur porro?</P>
          </div>

          </div>

      <div style="margin-left:550px;margin-top:-500px;">
      <img src="{% static 'user/assets/img/logo/k3.jpg' %}" alt="Avatar" style="height:250px;width:250px;border-radius:150px;margin-left:10px;">
          <div style="margin-left:130px;margin-top:10px;">
              <h3>Surya</h3>
                            <P style="width:300px;height:200px;margin-left:-80px;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur ab quas facilis obcaecati non ea, est odit repellat distinctio incidunt, quia aliquam eveniet quod deleniti impedit sapiente atque tenetur porro?</P>

          </div>
          </div>
      <div style="margin-left:1000px;margin-top:-300px;margin-top:-500px;">
      <img src="{% static 'user/assets/img/logo/liminho3.jpg' %}" alt="Avatar" style="height:250px;width:250px;border-radius:150px;margin-left:40px;">
           <div style="margin-left:100px;margin-top:10px;">
              <h3>Minho</h3>
                             <P style="width:300px;height:200px;margin-left:-80px;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur ab quas facilis obcaecati non ea, est odit repellat distinctio incidunt, quia aliquam eveniet quod deleniti impedit sapiente atque tenetur porro?</P>

          </div>
          </div>
    </div>
    <!-- ================ contact section start ================= -->
    <!-- ================ contact section end ================= -->
</main>
<footer>
    <!-- Footer Start-->
    <div class="footer-main" data-background="{% static 'user/assets/img/gallery/section_bg4.png' %}">
        <div class="footer-area " style="height:70px;">
            <div class="container">
                <div class="row d-flex justify-content-between">
                    <div class="col-xl-2  col-lg-3 col-md-5 col-sm-6">
                        <div class="single-footer-caption mb-50">
                            <div class="single-footer-caption mb-30">
                                <!-- logo -->
                                <div class="footer-tittle">
                                    <h5 style="color:white;margin-top:20px;font-size:15px;">Choice Matrimony</h5>
                                    <a href="index.html"><img src="{% static 'user/assets/img/logo/choice1.jpg' %}"  width="70" height="70" alt=""></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3  col-lg-3 col-lg-2 col-md-5 col-sm-6">
                        <div class="single-footer-caption mb-50">
                            <div class="footer-tittle">
                                <h5 style="color:white;font-size:15px;margin-top:20px;">MATRIMONY INFO</h5>
                                <ul>
                                    <li><a href="#"></a></li>
                                    <li><a href="#" style="font-size:14px;padding-top:-10px;">About us</a></li>
                                    <li><a href="{% url 'contact_fn' %}" style="font-size:14px;">Contact us</a></li>
                                    <li><a href="#" style="font-size:14px;">Privacy policy</a></li>
                                    <li><a href="#" style="font-size:14px;">Terms & Conditions </a></li>
                                    <li><a href="#" style="font-size:14px;"> </a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-2  col-lg-3 col-md-5 col-sm-6">
                        <div class="single-footer-caption mb-50">
                            <div class="footer-tittle">
                                <h4 style="color:white;font-size:15px;margin-top:20px;">ABOUT US</h4>
                                <ul>
                                    <li><i class="fa-solid fa-location-dot"></i><a href="#" style="margin-left:5px;font-size:14px;">Edappally</a></li>
                                    <li><i class="fa-solid fa-phone"></i><a href="#" style="margin-left:7px;font-size:14px;">9876564536</a></li>
                                    <li><i class="fa-solid fa-envelope"></i><a href="#" style="margin-left:7px;font-size:14px;">choice@gmail.com</a></li>

                                </ul>
                            </div>
                        </div>
                    </div>
<!--                    <div class="col-xl-2  col-lg-3 col-md-5 col-sm-6">-->
<!--                        <div class="single-footer-caption mb-50">-->
<!--                            <div class="footer-tittle">-->
<!--                                <h4>LOCATION</h4>-->
<!--                                <ul>-->
<!--                                  <li> <i class="fa-brands fa-facebook fa-sm"></i>-->
<!--                                    <i class="fa-solid fa-location-dot"></i>-->
<!--                                    <i class="fa-solid fa-phone"></i>-->
<!--                                    <i class="fa-solid fa-envelope"></i>-->
<!--                                    <li><a href="#">Coloelib.com</a></li>-->
<!--                                    <li>+(123) 456 - 7890 - 456 35 W 46nd Street NY</li>-->
<!--                                </ul>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
                </div>
            </div>
        </div>
        <i class="fa-brands fa-facebook"></i>
        <!-- footer-bottom area -->
        <div class="footer-bottom-area" style="margin-top:120px;">
            <div class="container">
                <div class="footer-border">
                        <div class="row d-flex align-items-center">
                            <div class="col-xl-12 ">
                                <div class="footer-copy-right text-center" style="margin-top:-30px;">
                                    <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
  Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="#" target="_blank">Colorlib</a>
  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer End-->
</footer>


    <!-- JS here -->

    <script src="{% static 'user/./assets/js/vendor/modernizr-3.5.0.min.js' %}"></script>
    <!-- Jquery, Popper, Bootstrap -->
    <script src="{% static 'user/./assets/js/vendor/jquery-1.12.4.min.js' %}"></script>
    <script src="{% static 'user/./assets/js/popper.min.js' %}"></script>
    <script src="{% static 'user/./assets/js/bootstrap.min.js' %}"></script>
    <!-- Jquery Mobile Menu -->
    <script src="{% static 'user/./assets/js/jquery.slicknav.min.js' %}"></script>

    <!-- Jquery Slick , Owl-Carousel Plugins -->
    <script src="{% static 'user/./assets/js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'user/./assets/js/slick.min.js' %}"></script>

    <!-- One Page, Animated-HeadLin -->
    <script src="{% static 'user/./assets/js/wow.min.js' %}"></script>
    <script src="{% static 'user/./assets/js/animated.headline.js' %}"></script>

    <!-- Scrollup, nice-select, sticky -->
    <script src="{% static 'user/./assets/js/jquery.scrollUp.min.js' %}"></script>
    <script src="{% static 'user/./assets/js/jquery.nice-select.min.js' %}"></script>
    <script src="{% static 'user/./assets/js/jquery.sticky.js' %}"></script>
    <script src="{% static 'user/./assets/js/jquery.magnific-popup.js' %}"></script>

    <!-- contact js -->
    <script src="{% static 'user/./assets/js/contact.js' %}"></script>
    <script src="{% static 'user/./assets/js/jquery.form.js' %}"></script>
    <script src="{% static 'user/./assets/js/jquery.validate.min.js' %}"></script>
    <script src="{% static 'user/./assets/js/mail-script.js' %}"></script>
    <script src="{% static 'user/./assets/js/jquery.ajaxchimp.min.js' %}"></script>

    <!-- Jquery Plugins, main Jquery -->
    <script src="{% static 'user/./assets/js/plugins.js' %}"></script>
    <script src="{% static 'user/./assets/js/main.js' %}"></script>

</body>
</html>