<!DOCTYPE html>
<html>
<head>
  <title>Read More Example</title>
</head>
<link rel="stylesheet" href="style.css">
<body>
  <p id="myParagraph">
    This is the beginning of the paragraph. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut
    perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem
    aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt
    explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia
    consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui
    dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora
    incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
  </p>
  <a href="#" id="readMoreLink" style="display: none;">Read More</a>

  <script src="script.js"></script>

<script>
    // Get references to the paragraph and "Read More" link
const paragraph = document.getElementById('myParagraph');
const readMoreLink = document.getElementById('readMoreLink');

// Set the minimum length for displaying the "Read More" link
const minLengthToShowReadMore = 50;

// Check paragraph length and show/hide the "Read More" link
if (paragraph.textContent.length > minLengthToShowReadMore) {
  readMoreLink.style.display = 'inline';
}

// Add a click event listener to the "Read More" link
readMoreLink.addEventListener('click', () => {
  paragraph.classList.add('expanded');
  readMoreLink.style.display = 'none';
});

</script>

</body>
</html>